.wrapper {
    width: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    background-size: cover;
    height: auto;
    max-width: 200pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34pt;
    flex: 1 0 200px;
    font-weight: bold;
    -webkit-text-fill-color: rgb(236, 234, 234);
    -webkit-text-stroke-width: 1.9px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    justify-content: center;
    text-align: center;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.863);
<<<<<<< HEAD
}

.one {
=======
  }
  .test {
    text-align: center;
  }
  .one {
>>>>>>> 2761f437fe697d05d4487dcd0224e8fc9af9a69e
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
}

.two {
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
}

.three {
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
}

.four {
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
<<<<<<< HEAD
}

body {
    background-color: rgb(238, 238, 190);
}
=======
  }
  
>>>>>>> 2761f437fe697d05d4487dcd0224e8fc9af9a69e
